<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TexTool.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TexTool.Settings>
            <setting name="ProjectId" serializeAs="String">
                <value>1054788</value>
            </setting>
            <setting name="BranchId" serializeAs="String">
                <value>55d4b774-8ecf-4a72-9798-9ca0e83304f0</value>
            </setting>
            <setting name="PlaycanvasApiKey" serializeAs="String">
                <value>o5lPWdvxh6lCMtw6jlvlF8jqnhq1RjGd</value>
            </setting>
            <setting name="BaseUrl" serializeAs="String">
                <value>https://playcanvas.com</value>
            </setting>
            <setting name="SemaphoreLimit" serializeAs="String">
                <value>32</value>
            </setting>
        </TexTool.Settings>
    </userSettings>
</configuration>