<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="AssetProcessor.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="AssetProcessor.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <AssetProcessor.Settings>
      <setting name="ProjectId" serializeAs="String">
        <value></value>
      </setting>
      <setting name="BranchId" serializeAs="String">
        <value></value>
      </setting>
      <setting name="PlaycanvasApiKey" serializeAs="String">
        <value></value>
      </setting>
      <setting name="SemaphoreLimit" serializeAs="String">
        <value>32</value>
      </setting>
      <setting name="Username" serializeAs="String">
        <value></value>
      </setting>
      <setting name="LastSelectedProjectId" serializeAs="String">
        <value></value>
      </setting>
      <setting name="LastSelectedBranchName" serializeAs="String">
        <value></value>
      </setting>
      <setting name="LastSelectedBranchId" serializeAs="String">
        <value></value>
      </setting>
      <setting name="SelectedFolderPath" serializeAs="String">
        <value></value>
      </setting>
      <setting name="ProjectsFolderPath" serializeAs="String">
        <value></value>
      </setting>
      <setting name="GetTexturesSemaphoreLimit" serializeAs="String">
        <value>64</value>
      </setting>
      <setting name="DownloadSemaphoreLimit" serializeAs="String">
        <value>8</value>
      </setting>
      <setting name="UseD3D11Preview" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="TexturesTableScale" serializeAs="String">
        <value>1.0</value>
      </setting>
      <setting name="ModelsTableScale" serializeAs="String">
        <value>1.0</value>
      </setting>
      <setting name="MaterialsTableScale" serializeAs="String">
        <value>1.0</value>
      </setting>
      <setting name="LogsTableScale" serializeAs="String">
        <value>1.0</value>
      </setting>
      <setting name="ModelPreviewRowHeight" serializeAs="String">
        <value>400</value>
      </setting>
    </AssetProcessor.Settings>
  </userSettings>
  <applicationSettings>
    <AssetProcessor.Settings>
      <setting name="BaseUrl" serializeAs="String">
        <value>https://playcanvas.com</value>
      </setting>
    </AssetProcessor.Settings>
  </applicationSettings>
</configuration>
