<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true"
      internalLogLevel="Info"
      internalLogFile="internal-nlog.txt">

  <targets>
    <!-- Async wrapper prevents logging deadlocks between UI and background threads -->
    <target xsi:type="AsyncWrapper" name="asyncFile" queueLimit="50000" overflowAction="Grow">
      <target xsi:type="File" name="fileTarget" fileName="file.txt"
              concurrentWrites="true"
              keepFileOpen="true"
              autoFlush="false" />
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="asyncFile" />
  </rules>
</nlog>
